<%= render "template/template" %>

<header class = "p-3 border-bottom" style = "background-color: rgba(120, 120, 120, 0.1);">
  <div class = "container">
    <div class = "d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href = "/" class = "d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <%# <svg class = "bi me-2" width = "40" height = "32" role = "img" aria-label = "Bootstrap">
          <use xlink:href = "#bootstrap"/>
        </svg> %>
        <img src = "https://free-icons.net/wp-content/uploads/2021/02/symbol060.png" alt = "Error Icon" width = "32" height = "32">
      </a>

      <ul class = "nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <%# <li><a href="#" class="nav-link px-2 link-dark"></a></li> %>
        <%# <li><a href="#" class="nav-link px-2 link-dark"></a></li> %>
        <%# <li><a href="#" class="nav-link px-2 link-dark"></a></li> %>
        <%# <li><a href="#" class="nav-link px-2 link-dark"></a></li> %>
        <%# <li><a href="#" class="nav-link px-2 link-dark"></a></li> %>
      </ul>

      <%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "タイトルから検索", class: "search-input", autocomplete: "off" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>

      <ul class = "nav px-2">
        <% unless user_signed_in? %>
          <li class = "nav-item"><%= link_to "ログイン", new_user_session_path, class: "nav-link link-dark px-2" %></li>
          <li class = "nav-item"><%= link_to '新規登録', new_user_registration_path, class: "nav-link link-dark px-2" %></li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <div class = "nickname">
          <%= current_user.nickname %>
        </div>
        <div class = "dropdown text-end">
          <a href = "#" class = "d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src = "https://kotonohaworks.com/free-icons/wp-content/uploads/kkrn_icon_user_13.png" alt = "mdo" width = "32" height = "32" class = "rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><%= link_to "投稿一覧", "/users/#{current_user.id}", class: "dropdown-item" %></li>
            <li><%= link_to "新規投稿", new_tweet_path, class: "dropdown-item" %></li>
            <li><%= link_to "お気に入り", "/tweets/:tweet_id/likes", class: "dropdown-item" %></li>

            <li><hr class = "dropdown-divider"></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</header>
