<%= render "template/header" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @tweet.title %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @tweet.image ,class:"item-box-img" %>
    </div>
    <div class = "content-box">
      <%= @tweet.content %>
    </div>

    <% if user_signed_in? && current_user.id == @tweet.user_id %>
      <div class = "btn-content">
        <%= link_to "編集", edit_tweet_path(@tweet.id), method: :get, class: "item-edit" %>
        <div class = "or">or</div>
        <%= link_to "削除", tweet_path(@tweet.id) , method: :delete, class:"item-destroy" %>
      </div>
    <% end %>
  </div>

  <%# <div class="option">
    <div class="favorite-btn"> %>
      <%# <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
      <%# <span>お気に入り 0</span>
    </div>
  </div> %>

</div>
